@model IEnumerable<Peleas.Models.Lucha>
    
<link rel="stylesheet" href="~/css/estilo.css" />





<center><h1>Lucha</h1></center>
<hr>
<h2>Datos:</h2>
<br>
@foreach (var item in Model) {
    <h4>CÓDIGO: @Html.DisplayFor(modelItem => item.Codigo)</h4>
    <h4>LUGAR: @Html.DisplayFor(modelItem => item.Lugar)</h4>
    <h4>FECHA: @Html.DisplayFor(modelItem => item.Fecha)</h4>
    <h4>CATEGORIA: @Html.DisplayFor(modelItem => item.Categoria)</h4>
    <h4>DICIPLINA: @Html.DisplayFor(modelItem => item.Diciplina)</h4>
}
<br><br>
<hr>

<h2>Descripcion 1:</h2>
<br>
@foreach (var item in Model) {
    <h4>@Html.DisplayFor(modelItem => item.Descripcion1)</h4>   
}
<br><br>
<hr>

<h2>Descripcion2 :</h2>
<br>
@foreach (var item in Model) {
    <h4>@Html.DisplayFor(modelItem => item.Descripcion2)</h4>   
}
<br><br>
<hr>

<h2>Descripcion 3:</h2>
<br>
@foreach (var item in Model) {
    <h4>@Html.DisplayFor(modelItem => item.Descripcion3)</h4>   
}

